/***** NAVBAR *****/
.navbar {
  font-family: 'Gothic A1', sans-serif !important;
  position: fixed;
  background-color: #A5DA49
}

.nav-item a {
  color: #000000 !important;
  font-weight: bold;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-item a:hover{
  color: #3E703D;
  text-decoration: underline;
}

.navbar-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.navbar-brand img {
    max-height: 50px;
    margin-left: 40px;
}

.category {
    margin-top: 5%;
    height: 30vh;
}

#category {
    height: 30vh;
}


.container {
    display: flex;
    justify-content: center;
}

.container .column {
    padding-left: 40px;
    padding-right: 40px;
}

.container h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.container a:visited {
    text-decoration: none;
    color: black;
}

.container a:link {
    color: black;
}

.container a:hover {
    color: #3E703D;
}

.container a:active {
    text-decoration: none;
}

@media (max-width: 1280px) {

  .container .column {
    padding-left: 15px;
    padding-right: 15px;
  }
    
  .container h5 {
    text-align: center;
    font-size: 25px;
  }
}

.piggy {
    display: inline-block;
    padding-left: 60px;
    font-size: 50px;
    color: #3E703D;
}

.earnings {
    padding-top: 50px;
}

.leaf {
    display: inline-block;
    padding-left: 60px;
    font-size: 50px;
    color: #3E703D;
}
.earn {
    margin-top: 20px;
}

.recommendation {
    color: #3E703D;
    margin-top: 50px;
}

.recomm {
    margin-top: 50px;
}

.recomm-img {
    margin-top: 40px;
}

.bottom-header {
    background-color: #A5DA49;
    height: 130px;
    margin-top: 50px;
    text-align: center;
}

.bottom-header img {
    margin-top: 20px;
    max-width: 150px;
}

.bottom-header h5 {
    margin-top: 20px;
    padding-bottom: 20px;
}
