/***** GENERAL *****/
html {
  /* width: 100%; */
  overflow-x: hidden;
}

body {
  /* width: 100% !important; */
  min-width: 100% !important;
  font-family: 'Gothic A1', sans-serif;
  background: white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

@media (min-width: 725px) {
  .main-page {
    background-image: url("../img/background/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
  }

}

/***** NAVBAR *****/
.navbar {
  font-family: 'Gothic A1', sans-serif !important;
  position: fixed;
}

.nav-item a {
  color: #000000 !important;
  font-weight: bold;
  font-size: 25px;
}

.nav-item a:hover{
  color: #3E703D;
  text-decoration: underline;
}

@media (min-width: 1280px) {
  .navbar-brand img {
    max-height: 80px;
      margin-left: 30%;
      margin-top: 15%
  }

  .nav-item a {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .navbar-nav {
    margin-top: 5%
  }

@media (max-width: 1280px) {
  .navbar-brand img {
    max-height: 70px;
  }

  .nav-item a {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar-nav {
    margin-right: 5%;
  }

  body {
    background: cover;
  }
}

@media (max-width: 1024px) {

  .navbar ul {
    margin-top: 0px;
  }

  .navbar-brand img {
    max-height: 68px;
  }

  .nav-item a {
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .navbar-nav {
    margin-right: 2%;
  }

}

@media (max-width: 768px) {
  .navbar-brand img {
    max-height: 68px;
  }

  .nav-item a {
    font-size: 12px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .navbar-nav {
    text-align: center;
  }

}

@media (max-width: 320px) {
  .navbar-brand img {
    max-height: 58px;
  }

  .nav-item a {
    font-size: 10px;
    margin-right: 1px;
    margin-left: 1px;
  }

  .navbar-nav {
    text-align: center;
  }
}


/***** HOME PAGE *****/
#home {
    height: 90vh;
}

.slogan {
    margin-right: 3%;;
    width: 50%;
    position: absolute;
    right: 0;
}

.slogan .container {
    display: flex;
    justify-content: center;
    margin-top: 58%;
}

.slogan button {
    background-color: #E8F0B4;
    border-radius: 10px;
    border: none;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    margin-top: 40%;
    margin-left: 30%;
}

@media (max-width: 1280px) {
    .slogan {
        margin-right: 5%;;
    }

    .slogan .container {
        margin-top: 55%;
    }

}



#category {
    height: 50vh;
}

.container {
    display: flex;
    justify-content: center;
    border-spacing: 50px;
}

.container .column {
    padding-left: 40px;
    padding-right: 40px;
}

.container h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.container a:visited {
    text-decoration: none;
    color: black;
}

.container a:link {
    color: black;
}

.container a:hover {
    color: #3E703D;
}

.container a:active {
    text-decoration: none;
}

.bottom-header {
    background-color: #A5DA49;
    height: 130px;
    text-align: center;
}

.bottom-header img {
    margin-top: 20px;
    max-width: 150px;
}

.bottom-header h5 {
    margin-top: 20px;
    padding-bottom: 20px;
}


/***** TRAVEL PAGE *****/
@media (min-width: 725px) {
  .travel-page {
    background-image: url("../img/background/subpage_background1.svg");
    background-size: 100%;
    background-position: top;
    overflow-x: hidden;
  }

}

/***** SHOPPING PAGE *****/
@media (min-width: 725px) {
  .shopping-page {
    background-image: url("../img/background/subpage_background2.svg");
    background-size: 100%;
    background-position: top;
    background-color: #E4DECE;
    overflow-x: hidden;
  }

}

/***** ELECTRICITY PAGE *****/
@media (min-width: 725px) {
  .electricity-page {
    background-image: url("../img/background/subpage_background1.svg");
    background-size: 100%;
    background-position: top;
    overflow-x: hidden;
  }

}

/***** LIFE STYLE PAGE *****/
@media (min-width: 725px) {
  .lifestyle-page {
    background-image: url("../img/background/subpage_background2.svg");
    background-size: 100%;
    background-color: #E4DECE;
    background-position: top;
    overflow-x: hidden;
  }

}




@media (max-width: 1024px) {


}

@media (max-width: 768px) {


}

@media (max-width: 320px) {

  }
}
