/***** GENERAL *****/
html {
  /* width: 100%; */
  overflow-x: hidden;
}

body {
  /* width: 100% !important; */
  min-width: 100% !important;
  font-family: 'Gothic A1', sans-serif;
  background: white;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

}

@media (min-width: 725px) {
  .main-page {
    background-image: url("../img/background/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
  }

}

/***** NAVBAR *****/
.navbar {
  font-family: 'Gothic A1', sans-serif !important;
  position: fixed;
}

.nav-item a {
  color: #000000 !important;
  font-weight: bold;
    font-size: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-item a:hover{
  color: #3E703D;
  text-decoration: underline;
}

.navbar-nav {
    margin-top: 5%
}

/***** HOME PAGE *****/
.home {
    height: 100vh;
}

.category {
    height: 40vh;
}

#category {
    height: 50vh;
}

.container {
    display: flex;
    justify-content: center;
}

.container .column {
    padding-left: 40px;
    padding-right: 40px;
}

.container h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.container a:visited {
    text-decoration: none;
    color: black;
}

.container a:link {
    color: black;
}

.container a:hover {
    color: #3E703D;
}

.container a:active {
    text-decoration: none;
}

@media (max-width: 1280px) {

  .container .column {
    padding-left: 15px;
    padding-right: 15px;
  }
    
  .container h5 {
    text-align: center;
    font-size: 25px;
  }
}



.bottom-header {
    background-color: #A5DA49;
    height: 130px;
    text-align: center;
}

.bottom-header img {
    margin-top: 20px;
    max-width: 150px;
}

.bottom-header h5 {
    margin-top: 20px;
    padding-bottom: 20px;
}



/***** SHOPPING PAGE *****/
@media (min-width: 725px) {
  .shopping-page {
    background-image: url("../img/background/ShoppingBackground.png");
    background-size: 100%;
    background-position: top;
    background-color: #E4DECE;
    overflow-x: hidden;
    overflow: hidden;
    
  }

}


/***** ELECTRICITY PAGE *****/
@media (min-width: 725px) {
  .electricity-page {
    background-image: url("../img/background/ElectricityBackground.png");
    background-size: 100%;
    background-position: top;
    overflow-x: hidden;
  }

}

/***** LIFE STYLE PAGE *****/
@media (min-width: 725px) {
  .lifestyle-page {
    background-image: url("../img/background/LifeStyleBackground.png");
    background-size: 100%;
    background-color: #E4DECE;
    background-position: top;
    overflow-x: hidden;
  }

}